@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
html {
  scroll-behavior: smooth; }

body {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.6;
  color: #000; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.header {
  padding: 20px 0 0px 0;
  background: #fcf8f3;
  -webkit-box-shadow: 0px 0px 10px 1px #ece8e3;
  box-shadow: 0px 0px 10px 1px #ece8e3; }

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1024px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.container-b {
  max-width: 1280px; }

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.logo img {
  height: 60px;
  width: 88px; }

.header__info {
  margin: 0 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__info-item {
  margin: 0 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.info-icon {
  margin: 0 10px 0 0;
  height: 20px;
  width: 20px; }
  .info-icon img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.header__info-text {
  font-weight: 300;
  line-height: 16px; }
  .header__info-text b {
    font-weight: 600; }

.header__action-phone {
  margin: 0 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 0;
  color: inherit;
  font-size: 18px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .header__action-phone:hover {
    color: #c8c8c8; }

.btn {
  padding: 9px 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  border: 1px solid #6698fd;
  border-bottom: 1px solid #4b6db0;
  background: #6698fd;
  border-radius: 8px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }
  .btn:hover {
    background: none;
    color: #4b6db0;
    border: 1px solid #6698fd; }

.header-bottom {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__menu-mobile {
  display: none; }

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .header__menu-list li {
    margin: 0 75px 0 0; }

.header__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  color: inherit; }
  .header__menu-link:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #888; }
    .header__menu-link:hover svg {
      fill: #888;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }

/* First-Block */
.first-block {
  padding: 30px 0; }

.first-block__iner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.first-block__body {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }

.first-block__body-title {
  margin: 0 0 45px 0;
  font-size: 34px;
  font-weight: 700; }

.first-block__body-text {
  margin: 0 0 20px 0; }

.text {
  font-size: 18px;
  color: #484646;
  line-height: 24px; }

.first-block__body-price {
  margin: 0 0 20px 0;
  font-size: 25px;
  font-weight: 600; }

.first-block__body-list {
  margin: 0 0 20px 0; }
  .first-block__body-list li {
    margin: 0 0 15px 0; }
  .first-block__body-list li:last-child {
    margin: 0; }

.first-block__body-link {
  padding: 0 0 0 15px;
  position: relative;
  font-size: 18px;
  color: #484646;
  line-height: 24px; }
  .first-block__body-link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 6px;
    height: 7px;
    background-color: #5688ed;
    border-radius: 50%; }

.first-block__body-btn {
  font-size: 20px; }

.first-block__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }
  .first-block__img img {
    position: relative;
    z-index: -1;
    margin: -50px 0 0 -50%; }

/* Price */
.price {
  padding: 50px 0; }

.price__body {
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.price__body-img {
  margin: 0 15px 0 0; }

.price__body-text p {
  margin: 0 0 10px 0; }
  .price__body-text p:last-child {
    margin: 0; }

.price__title {
  margin: 0 0 20px 0; }

.title {
  font-size: 25px;
  font-weight: 600;
  color: #212121; }

.price__table {
  font-size: 16px;
  border-collapse: collapse; }
  .price__table tr {
    border: 1px solid #d9d9d9; }
    .price__table tr th {
      border: 1px solid #d9d9d9;
      background: #d2def8;
      color: #484646;
      font-weight: 600;
      height: 44px;
      text-align: center; }
      .price__table tr th:first-child {
        text-align: left;
        padding-left: 46px;
        width: 70%; }
      .price__table tr th:nth-child(2) {
        width: 268px; }
    .price__table tr td {
      text-align: left;
      padding: 10px 46px;
      background: #faf8f5;
      border: 1px solid #d9d9d9; }
      .price__table tr td:nth-child(2) {
        width: 268px;
        text-align: center; }

/* Form */
.form {
  padding: 20px 0; }

.form__title {
  margin: 0 0 15px 0; }

.form__body {
  padding: 38px 33px 38px 33px;
  margin: 0 -15px 20px -15px;
  background-color: #5086f2;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.body-form {
  color: #fff; }

.form__body-column {
  padding: 0 15px;
  margin: 0 0 15px 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }

.body-form__title {
  margin: 0 0 30px 0;
  font-weight: bold;
  font-size: 20px; }
  .body-form__title span {
    margin: 0 5px 0 0;
    background: #6698fd;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px; }

.body-form__input-wrapper {
  margin: 0 0 20px 0;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.body-form__label {
  margin: 0 0 8px 0;
  font-size: 14px; }

.body-form__input {
  color: white;
  background: rgba(255, 255, 255, 0.1);
  height: 47px;
  width: 324px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 25px;
  font-size: 14px; }
  .body-form__input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.397); }
  .body-form__input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.397); }
  .body-form__input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.397); }
  .body-form__input::placeholder {
    color: rgba(255, 255, 255, 0.397); }

.body-form__list {
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .body-form__list li {
    margin: 0 15px 0 0;
    padding: 0 0 0 5px;
    position: relative; }
    .body-form__list li:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -3px;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 3px;
      height: 3px;
      background: #fff;
      border-radius: 50%; }

.body-form__list-title {
  margin: 0 25px 0 0;
  font-weight: 700;
  font-size: 16px; }

.body-form__row {
  margin: 0 0 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.body-form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.body-form__info-img {
  margin: 0 30px 0 0;
  width: 150px;
  height: 150px;
  border: 5px solid #1865ff;
  border-radius: 50%; }
  .body-form__info-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%; }

.body-form__info-text {
  max-width: 450px; }

.body-form__btn {
  padding: 10px 55px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  font-size: 15px; }
  .body-form__btn:hover {
    color: #fff;
    font-size: 16px; }

.body-form__checkbox {
  position: relative;
  width: 100%;
  left: 70px; }

.body-form__checkbox-input {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; }

.body-form__checkbox-label {
  padding: 0 0 0 36px;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff; }

.body-form__checkbox-label:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s; }

.body-form__checkbox-label:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: url("../img/form/arr.svg") no-repeat;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s; }

.body-form__checkbox-input:checked + .body-form__checkbox-label:before {
  background: #6698fd; }

.body-form__checkbox-input:checked + .body-form__checkbox-label:after {
  opacity: 1; }

.form__text {
  padding: 0 0 0 7px;
  border-left: 5px solid #5084ed; }
  .form__text p {
    margin: 0 0 10px 0; }
    .form__text p a {
      font-weight: 700;
      font-size: 17px;
      color: #000;
      white-space: nowrap; }
      .form__text p a:hover {
        text-decoration: underline;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }

.dropdown__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  height: 47px;
  width: 324px;
  padding: 0 25px;
  font-size: 14px;
  color: #fff; }
  .dropdown__button::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.397); }
  .dropdown__button:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.397); }
  .dropdown__button::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.397); }
  .dropdown__button::placeholder {
    color: rgba(255, 255, 255, 0.397); }

.dropdown__button::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
  width: 10px;
  height: 7px;
  background: url("../img/arr.svg") no-repeat right; }

.dropdown__list {
  display: none; }

.dropdown__list--visible {
  display: block; }

.dropdown__input-hidden {
  display: none; }

.dropdown__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 47px;
  width: 324px;
  background: rgba(255, 255, 255, 0.1);
  font-size: 14px;
  line-height: 17px;
  padding-left: 12px;
  cursor: pointer; }

.dropdown__list-item:hover {
  background: #3f49b9;
  color: #fff; }

/* Benefits */
.benefits {
  padding: 20px 0;
  background-color: #5086f215; }

.benefits__title {
  margin: 0 0 20px 0; }

.benefits__column {
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.benefits__column-img {
  margin: 0 30px 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 213px;
  flex: 0 0 213px;
  height: 221px; }
  .benefits__column-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.benefits__column-body {
  padding: 40px 0 0 0; }

.benefits__column-title {
  margin: 0 0 20px 0;
  color: #2589e1;
  font-size: 19px; }

/* Questions */
.questions {
  padding: 20px 0; }

.questions__title {
  margin: 0 0 20px 0; }
  .questions__title span {
    white-space: nowrap; }

.questions__text {
  margin: 0 0 20px 0; }
  .questions__text img {
    width: 350px;
    height: 550px;
    padding: 0 0 10px 10px;
    float: right;
    -o-object-fit: cover;
    object-fit: cover; }

.questions__link:before {
  top: 12px; }

/* Address */
.address {
  padding: 20px 0; }

.address__title {
  margin: 0 0 20px 0;
  text-align: center; }

.address__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.address__info-img {
  margin: 0 15px 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }
  .address__info-img img {
    width: 100%;
    height: 100%; }

.address__info-body {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }

.address__info-text {
  margin: 0 0 15px 0;
  font-size: 20px; }
  .address__info-text span {
    font-weight: 700;
    white-space: nowrap; }

.address__info-row {
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .address__info-row img {
    margin: 0 10px 0 0;
    height: 20px;
    width: 20px; }

/* Map */
.map {
  padding: 20px 0; }

.map__address {
  margin: 0 0 20px 0;
  text-align: center; }

/* Select */
.select {
  padding: 30px 0;
  background-color: #5086f241; }

.select__title {
  margin: 0 0 25px 0; }

.select__row {
  margin: 0 -15px 20px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.select__column {
  padding: 0 15px;
  margin: 0 0 15px 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 400px;
  flex: 0 0 400px; }

.body-form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.select__column-checkbox {
  left: 0; }

.select__column-label {
  margin: -3px 0 0 0;
  padding: 0 0 0 30px;
  font-size: 18px;
  color: #000;
  line-height: 24px; }

.select__column-link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5; }

.btn-callback {
  position: fixed;
  bottom: 10%;
  right: 10px;
  z-index: 101;
  height: 150px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }
  .btn-callback:hover .img-circle {
    opacity: 1; }

.circlephone {
  background-color: #2790c4;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  border: 2px solid #29aee3;
  width: 150px;
  height: 150px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  opacity: 0.5;
  -webkit-animation: circle-anim 2.4s infinite ease-in-out;
  animation: circle-anim 2.4s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.circle-fill {
  width: 100px;
  height: 100px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
  animation: circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.img-circle {
  background-color: #2790c4;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  text-align: center;
  width: 72px;
  height: 72px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.img-circleblock {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  width: 40px;
  height: 40px;
  background-position: center center;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  -webkit-animation-name: tossing;
  animation-name: tossing;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.btn-callback__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg); } }

@keyframes tossing {
  0% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg); } }

@-webkit-keyframes circle-anim {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  30% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes circle-anim {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  30% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/* Footer */
.footer {
  padding: 30px 0; }

.footer-top {
  margin: 0 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer__icon {
  margin: 0 30px 0 0; }
  .footer__icon svg {
    width: 30px;
    height: 30px;
    fill: #31bed0; }
  .footer__icon:last-child {
    margin: 0; }
  .footer__icon:hover svg {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    fill: #2790c4; }

@media (max-width: 1000px) {
  .btn-callback,
  .header__menu-desktop,
  .header__info-img,
  .header__info-desktop {
    display: none; }
  .header__info-mobile {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 18px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__info-item {
    margin: 0 0 20px 0; }
  .header__menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__burger {
    margin: 0 30px 0 0;
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5; }
  .header__burger::before,
  .header__burger::after {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    content: "";
    background-color: #436dc2;
    left: 0;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 25px; }
  .header__burger::before {
    top: -1px; }
  .header__burger::after {
    bottom: -2px; }
  .header__burger span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 25px;
    top: 7.9px;
    background-color: #436dc2; }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 6px; }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px; }
  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  body.lock {
    overflow: hidden; }
  .header__menu-mobile {
    z-index: 2;
    position: fixed;
    top: -100%;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    height: 100%;
    background-color: #98c9df;
    padding: 100px 10px 20px 10px;
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .header__menu-mobile-active {
    top: 0; }
  .header__menu-list {
    margin: 0 0 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header__menu-list li {
      margin: 0 0 30px 0; }
  .header__menu-link {
    font-size: 20px; }
    .header__menu-link .info-icon {
      display: none; }
  .first-block__img img {
    width: 150%;
    margin: 0% 0 0 -60%; }
  .first-block__body-title {
    margin: 0 0 20px 0;
    font-size: 25px; }
  .text {
    font-size: 16px;
    line-height: 20px; }
  .first-block__body-price {
    margin: 0 0 10px 0;
    font-size: 20px; }
  .first-block__body {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .price__body-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%; }
    .price__body-img img {
      width: 100%; }
  .title {
    font-size: 23px; }
  .price {
    padding: 20px 0; }
  .form__body {
    padding: 25px; }
  .body-form__list-title {
    margin: 0 0 10px 0;
    width: 100%; }
  .body-form__row,
  .body-form__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .body-form__info-img,
  .body-form__title {
    margin: 0 0 20px 0; }
  .body-form__info-text {
    margin: 0 0 20px 0;
    max-width: 100%;
    text-align: center; }
  .body-form__checkbox {
    left: 0; }
  .select__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .questions__text img {
    width: 250px;
    height: 350px; } }

@media (max-width: 700px) {
  .first-block__img {
    display: none; }
  .price {
    padding: 10px 0; }
  .price__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .price__body-img {
    margin: 0 auto 20px auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
    .price__body-img img {
      width: auto; }
  .price__table {
    font-size: 14px; }
    .price__table tr td {
      padding: 10px 16px; }
  .form__body-column {
    padding: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .body-form__input {
    padding: 0 15px;
    width: 100%; }
  .dropdown__button-var {
    padding: 0 15px;
    width: 100% !important; }
  .dropdown__list-item-var {
    padding: 0 15px;
    width: 100% !important; }
  .address {
    padding: 0; }
  .address__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .address__info-img {
    margin: 0 0 15px 0;
    height: 300px; }
    .address__info-img img {
      -o-object-fit: cover;
      object-fit: cover; }
  .questions__text img {
    width: 200px;
    height: 300px; }
  .benefits__column-title {
    font-size: 16px; } }

@media (max-width: 500px) {
  .header {
    padding: 20px 0; }
  .header-bottom {
    padding: 0; }
  .header__burger {
    margin: 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
    .header__burger span {
      top: 8px; }
  .header__actions {
    display: none; }
  .price__body-img img {
    width: 100%; }
  .btn {
    width: 100%;
    padding: 9px 0; }
  .body-form__checkbox-label {
    padding: 0 0 0 30px; }
  .footer__icon {
    margin: 0 15px 0 0; }
  .questions__text img {
    display: none; }
  .benefits__column {
    margin: 0 0 35px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .benefits__column:last-child {
      margin: 0; }
  .benefits__column-img {
    margin: 0 0 15px 0;
    height: 200px; }
  .benefits__column-body {
    padding: 0; }
  .benefits__column-title {
    margin: 0 0 5px 0;
    text-align: center; } }
